{% extends 'base.html' %}
{% block body %}
<table>
    <caption>Телефонный справочник</caption>
    <thead>
        <tr>
        {% for title in titles %}
            <th> {{ title }} </th>
        {% endfor %}
        </tr>
        <tr><th colspan="7"><a href="http://localhost:5000/edit">Добавить запись</a></th></tr>
    </thead>
    <tbody>
        {% for row in content %}
        <tr>
        {% for item in row %}
            <th> {{ item }} </th>
        {% endfor %}
            <form method="POST" action="/delete">
                <th><button type="submit" name="id" value="{{ row[0] }}">Удалить</button></th>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}